<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>Landing</title>
    <link rel='stylesheet' id='reset-css' href='../css/reset.css' type='text/css' media='all'/>
    <link rel="stylesheet" href="../css/swiper.min.css" type='text/css' media='all'>
    <link rel='stylesheet' id='custom-css' href='../css/style.css' type='text/css' media='all'/>
</head>

<body>


<section id="section01" class="landing-aff demo">
    <div class="landing-aff__container">
        <h1 class="landing-aff__title">Top 10 <span>Online Casinos</span></h1>
        <div class="landing-aff__masonry">
            <div class="landing-aff__masonry_row landing-aff__masonry_row-1">
                <div class="landing-aff__masonry_el"></div>
                <div class="landing-aff__masonry_el"></div>
                <div class="landing-aff__masonry_el"></div>
                <div class="landing-aff__masonry_el"></div>
                <div class="landing-aff__masonry_el"></div>
            </div>
            <div class="landing-aff__masonry_row landing-aff__masonry_row-2">
                <div class="landing-aff__masonry_el"></div>
                <div class="landing-aff__masonry_el"></div>
                <div class="landing-aff__masonry_el"></div>
                <div class="landing-aff__masonry_el"></div>
                <div class="landing-aff__masonry_el"></div>
            </div>
        </div>
    </div>
    <a href="#section02" class="scroll-btn">SCROLL DOWN<span></span></a>
</section>
<section id="section02" class="demo">
    <div class="landing-aff__slider_container">
        <div class="landing-aff__wrap">

            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="landing-aff__slider_wrap">
                            <div class="landing-aff__slider_left">
                                <div class="landing-aff__slider_headers">
                                    <p>01</p>
                                    <hr>
                                </div>
                                <div class="landing-aff__slider_main-desc--wrap">
                                    <img src="../images/icons/cg.png" alt="" class="landing-aff__slider_logo">
                                    <div class="landing-aff__slider_desc--wrap">
                                        <p>299%</p>
                                        <p>+ 51 FS on Dragon Orb</p>
                                    </div>
                                    <div class="landing-aff__coupon_wrap">
                                        <div class="landing-aff__coupon_buttons yellow" data-clipboard-text="TREASURE">
                                            <div  class="landing-aff__coupon_buttons_btn">Copy Code:</div>
                                            <p  class="landing-aff__coupon_buttons_code">TREASURE</p>
                                        </div>
                                        <a class="landing-aff__claim-now" href="#" target="_blank"><span>Claim Now</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="landing-aff__slider_right">
                                <img src="../images/slider/CG.jpg" alt="">
                                <div class="terms">
                                    <button>Terms and Conditions</button>
                                    <p>T&C: TREASURE code is valid once for new players on slots and specialty games on the minimum deposit of $25+, playthrough x30 the deposit+bonus amount, no max cashout. 51 Free Spins apply to the Dragon Orb game only.
                                    </p>
                                </div>
                                <div class="landing-aff__coupon_wrap--mobile">
                                    <div class="landing-aff__coupon_buttons yellow" data-clipboard-text="TREASURE">
                                        <div  class="landing-aff__coupon_buttons_btn">Copy Code:</div>
                                        <p  class="landing-aff__coupon_buttons_code">TREASURE</p>
                                    </div>
                                    <a class="landing-aff__claim-now" href="#" target="_blank"><span>Claim Now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="landing-aff__slider_wrap">
                            <div class="landing-aff__slider_left">
                                <div class="landing-aff__slider_headers">
                                    <p>02</p>
                                    <hr>
                                </div>
                                <div class="landing-aff__slider_main-desc--wrap">
                                    <img src="../images/icons/ec.png" alt="" class="landing-aff__slider_logo">
                                    <div class="landing-aff__slider_desc--wrap">
                                        <p>300%</p>
                                        <p>+ $10 Free Chip</p>
                                    </div>
                                    <div class="landing-aff__coupon_wrap">
                                        <div class="landing-aff__coupon_buttons yellow" data-clipboard-text="MOONLIGHT">
                                            <div  class="landing-aff__coupon_buttons_btn">Copy Code:</div>
                                            <p  class="landing-aff__coupon_buttons_code">MOONLIGHT</p>
                                        </div>
                                        <a class="landing-aff__claim-now" href="#" target="_blank"><span>Claim Now</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="landing-aff__slider_right">
                                <img src="../images/slider/EC.jpg" alt="">
                                <div class="terms">
                                    <button>Terms and Conditions</button>
                                    <p>T&C: MOONLIGHT code is valid once for new players on slots and specialty games on the minimum deposit of $25+, playthrough X40 the deposit+bonus amount, no max cashout. A $10 Free Chip is given only after the deposit, to be claimed in Live Chat, playthrough x50 the bonus amount, max cashout x5 the bonus amount.
                                    </p>
                                </div>
                                <div class="landing-aff__coupon_wrap--mobile">
                                    <div class="landing-aff__coupon_buttons yellow" data-clipboard-text="MOONLIGHT">
                                        <div  class="landing-aff__coupon_buttons_btn">Copy Code:</div>
                                        <p  class="landing-aff__coupon_buttons_code">MOONLIGHT</p>
                                    </div>
                                    <a class="landing-aff__claim-now" href="#" target="_blank"><span>Claim Now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="landing-aff__slider_wrap">
                            <div class="landing-aff__slider_left">
                                <div class="landing-aff__slider_headers">
                                    <p>03</p>
                                    <hr>
                                </div>
                                <div class="landing-aff__slider_main-desc--wrap">
                                    <img src="../images/icons/sn.png" alt="" class="landing-aff__slider_logo">
                                    <div class="landing-aff__slider_desc--wrap">
                                        <p>299%</p>
                                        <p>+ 35 FS on Catsino</p>
                                    </div>
                                    <div class="landing-aff__coupon_wrap">
                                        <div class="landing-aff__coupon_buttons yellow" data-clipboard-text="SPACETRAVEL">
                                            <div  class="landing-aff__coupon_buttons_btn">Copy Code:</div>
                                            <p  class="landing-aff__coupon_buttons_code">SPACETRAVEL</p>
                                        </div>
                                        <a class="landing-aff__claim-now" href="#" target="_blank"><span>Claim Now</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="landing-aff__slider_right">
                                <img src="../images/slider/SN.jpg" alt="">
                                <div class="terms">
                                    <button>Terms and Conditions</button>
                                    <p>T&C: SPACETRAVEL code is valid once for new players on slots and specialty games on the minimum deposit of $25+, playthrough x40 the deposit+bonus amount, no max cashout. 35 Free Spins apply to the Catsino game only, playthrough X50, max cashout X5, to be claimed in Live Chat.
                                    </p>
                                </div>
                                <div class="landing-aff__coupon_wrap--mobile">
                                    <div class="landing-aff__coupon_buttons yellow" data-clipboard-text="SPACETRAVEL">
                                        <div  class="landing-aff__coupon_buttons_btn">Copy Code:</div>
                                        <p  class="landing-aff__coupon_buttons_code">SPACETRAVEL</p>
                                    </div>
                                    <a class="landing-aff__claim-now" href="#" target="_blank"><span>Claim Now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="landing-aff__slider_wrap">
                            <div class="landing-aff__slider_left">
                                <div class="landing-aff__slider_headers">
                                    <p>04</p>
                                    <hr>
                                </div>
                                <div class="landing-aff__slider_main-desc--wrap">
                                    <img src="../images/icons/fs.png" alt="" class="landing-aff__slider_logo">
                                    <div class="landing-aff__slider_desc--wrap">
                                        <p>295%</p>
                                        <p>+ 51 FS on Dragon Orb</p>
                                    </div>
                                    <div class="landing-aff__coupon_wrap">
                                        <div class="landing-aff__coupon_buttons yellow" data-clipboard-text="FRIENDS">
                                            <div  class="landing-aff__coupon_buttons_btn">Copy Code:</div>
                                            <p  class="landing-aff__coupon_buttons_code">FRIENDS</p>
                                        </div>
                                        <a class="landing-aff__claim-now" href="#" target="_blank"><span>Claim Now</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="landing-aff__slider_right">
                                <img src="../images/slider/FS.jpg" alt="">
                                <div class="terms">
                                    <button>Terms and Conditions</button>
                                    <p>T&C: FRIENDS code is valid once for new players on slots and specialty games on the minimum deposit of $25+, playthrough x30 the deposit+bonus amount, no max cashout. 35 Free Spins apply to the Bubble Bubble 2 game only.
                                    </p>
                                </div>
                                <div class="landing-aff__coupon_wrap--mobile">
                                    <div class="landing-aff__coupon_buttons yellow" data-clipboard-text="FRIENDS">
                                        <div  class="landing-aff__coupon_buttons_btn">Copy Code:</div>
                                        <p  class="landing-aff__coupon_buttons_code">FRIENDS</p>
                                    </div>
                                    <a class="landing-aff__claim-now" href="#" target="_blank"><span>Claim Now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="landing-aff__slider_wrap">
                            <div class="landing-aff__slider_left">
                                <div class="landing-aff__slider_headers">
                                    <p>05</p>
                                    <hr>
                                </div>
                                <div class="landing-aff__slider_main-desc--wrap">
                                    <img src="../images/icons/il.png" alt="" class="landing-aff__slider_logo">
                                    <div class="landing-aff__slider_desc--wrap">
                                        <p>300%</p>
                                        <p>+ $20 Free Chip</p>
                                    </div>
                                    <div class="landing-aff__coupon_wrap">
                                        <div class="landing-aff__coupon_buttons yellow" data-clipboard-text="WANTED">
                                            <div  class="landing-aff__coupon_buttons_btn">Copy Code:</div>
                                            <p  class="landing-aff__coupon_buttons_code">WANTED</p>
                                        </div>
                                        <a class="landing-aff__claim-now" href="#" target="_blank"><span>Claim Now</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="landing-aff__slider_right">
                                <img src="../images/slider/IL.jpg" alt="">
                                <div class="terms">
                                    <button>Terms and Conditions</button>
                                    <p>T&C: WANTED code is valid once for new players only on slots and specialty games on the minimum deposit of $25+, playthrough x40 the deposit+bonus amount, no max cashout. A $20 Free Chip is given after the deposit to be claimed in Live Chat, playthrough x50 the bonus amount, max cashout x5 the bonus amount.
                                    </p>
                                </div>
                                <div class="landing-aff__coupon_wrap--mobile">
                                    <div class="landing-aff__coupon_buttons yellow" data-clipboard-text="WANTED">
                                        <div  class="landing-aff__coupon_buttons_btn">Copy Code:</div>
                                        <p  class="landing-aff__coupon_buttons_code">WANTED</p>
                                    </div>
                                    <a class="landing-aff__claim-now" href="#" target="_blank"><span>Claim Now</span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide">
                        <div class="landing-aff__slider_wrap">
                            <div class="landing-aff__slider_left">
                                <div class="landing-aff__slider_headers">
                                    <p>06</p>
                                    <hr>
                                </div>
                                <div class="landing-aff__slider_main-desc--wrap">
                                    <img src="../images/icons/ex.png" alt="" class="landing-aff__slider_logo">
                                    <div class="landing-aff__slider_desc--wrap">
                                        <p>250 Welcome</p>
                                        <p>+ 25 FS on Storm Lords</p>
                                    </div>
                                    <div class="landing-aff__coupon_wrap">
                                        <div class="landing-aff__coupon_buttons yellow" data-clipboard-text="TRIUMPH">
                                            <div  class="landing-aff__coupon_buttons_btn">Copy Code:</div>
                                            <p  class="landing-aff__coupon_buttons_code">TRIUMPH</p>
                                        </div>
                                        <a class="landing-aff__claim-now" href="#" target="_blank"><span>Claim Now</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="landing-aff__slider_right">
                                <img src="../images/slider/EX.jpg" alt="">
                                <div class="terms">
                                    <button>Terms and Conditions</button>
                                    <p>T&C: TRIUMPH code is valid once for new players on slots and specialty games on the deposit of $25+, playthrough x30 the deposit+bonus amount, no max cashout. 25 Free Spins apply to the Storm Lords game only,  playthrough x40 the free spins winnings, max cashout x5 the free spins amount.
                                    </p>
                                </div>
                                <div class="landing-aff__coupon_wrap--mobile">
                                    <div class="landing-aff__coupon_buttons yellow" data-clipboard-text="TRIUMPH">
                                        <div  class="landing-aff__coupon_buttons_btn">Copy Code:</div>
                                        <p  class="landing-aff__coupon_buttons_code">TRIUMPH</p>
                                    </div>
                                    <a class="landing-aff__claim-now" href="#" target="_blank"><span>Claim Now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="swiper-slide">
                        <div class="landing-aff__slider_wrap">
                            <div class="landing-aff__slider_left">
                                <div class="landing-aff__slider_headers">
                                    <p>07</p>
                                    <hr>
                                </div>
                                <div class="landing-aff__slider_main-desc--wrap">
                                    <img src="../images/icons/gl.png" alt="" class="landing-aff__slider_logo">
                                    <div class="landing-aff__slider_desc--wrap">
                                        <p>40 Free Spins</p>
                                        <p>on Mighty Aphrodite</p>
                                    </div>
                                    <div class="landing-aff__coupon_wrap">
                                        <div class="landing-aff__coupon_buttons yellow" data-clipboard-text="GODDESS">
                                            <div  class="landing-aff__coupon_buttons_btn">Copy Code:</div>
                                            <p  class="landing-aff__coupon_buttons_code">GODDESS</p>
                                        </div>
                                        <a class="landing-aff__claim-now" href="#" target="_blank"><span>Claim Now</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="landing-aff__slider_right">
                                <img src="../images/slider/GL.jpg" alt="">
                                <div class="terms">
                                    <button>Terms and Conditions</button>
                                    <p>T&C: GODDESS is a no deposit bonus valid once for new players on slots and specialty games, playthrough of x50 the free spins winnings, max cashout x2 the free spins amount. 40 Spins apply to the Mighty Aphrodite game only, to be claimed in Live Chat.
                                    </p>
                                </div>
                                <div class="landing-aff__coupon_wrap--mobile">
                                    <div class="landing-aff__coupon_buttons yellow" data-clipboard-text="GODDESS">
                                        <div  class="landing-aff__coupon_buttons_btn">Copy Code:</div>
                                        <p  class="landing-aff__coupon_buttons_code">GODDESS</p>
                                    </div>
                                    <a class="landing-aff__claim-now" href="#" target="_blank"><span>Claim Now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="landing-aff__slider_wrap">
                            <div class="landing-aff__slider_left">
                                <div class="landing-aff__slider_headers">
                                    <p>08</p>
                                    <hr>
                                </div>
                                <div class="landing-aff__slider_main-desc--wrap">
                                    <img src="../images/icons/dg.png" alt="chery-gold" class="landing-aff__slider_logo">
                                    <div class="landing-aff__slider_desc--wrap">
                                        <p>315%</p>
                                        <p>Welcome Bonus</p>
                                    </div>
                                    <div class="landing-aff__coupon_wrap">
                                        <div class="landing-aff__coupon_buttons yellow" data-clipboard-text="WISEGUY">
                                            <div  class="landing-aff__coupon_buttons_btn">Copy Code:</div>
                                            <p  class="landing-aff__coupon_buttons_code">WISEGUY</p>
                                        </div>
                                        <a class="landing-aff__claim-now" href="#" target="_blank"><span>Claim Now</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="landing-aff__slider_right">
                                <img src="../images/slider/DG.jpg" alt="">
                                <div class="terms">
                                    <button>Terms and Conditions</button>
                                    <p>T&C: WISEGUY code is valid once for new players on slots and specialty games on the deposit of $25+, playthrough x40 the deposit+bonus amount, no max cashout.
                                    </p>
                                </div>
                                <div class="landing-aff__coupon_wrap--mobile">
                                    <div class="landing-aff__coupon_buttons yellow" data-clipboard-text="WISEGUY">
                                        <div  class="landing-aff__coupon_buttons_btn">Copy Code:</div>
                                        <p  class="landing-aff__coupon_buttons_code">WISEGUY</p>
                                    </div>
                                    <a class="landing-aff__claim-now" href="#" target="_blank"><span>Claim Now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="swiper-slide">
                        <div class="landing-aff__slider_wrap">
                            <div class="landing-aff__slider_left">
                                <div class="landing-aff__slider_headers">
                                    <p>09</p>
                                    <hr>
                                </div>
                                <div class="landing-aff__slider_main-desc--wrap">
                                    <img src="../images/icons/cg.png" alt="chery-gold" class="landing-aff__slider_logo">
                                    <div class="landing-aff__slider_desc--wrap">
                                        <p>295%</p>
                                        <p>+ 20 FS on Trigger Happy</p>
                                    </div>
                                    <div class="landing-aff__coupon_wrap">
                                        <div class="landing-aff__coupon_buttons yellow" data-clipboard-text="WILDVEGAS">
                                            <div  class="landing-aff__coupon_buttons_btn">Copy Code:</div>
                                            <p  class="landing-aff__coupon_buttons_code">WILDVEGAS</p>
                                        </div>
                                        <a class="landing-aff__claim-now" href="#" target="_blank"><span>Claim Now</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="landing-aff__slider_right">
                                <img src="../images/slider/BV.jpg" alt="">
                                <div class="terms">
                                    <button>Terms and Conditions</button>
                                    <p>T&C: WILDVEGAS code is valid twice for new players on slots and specialty games on the deposit of $25+, playthrough x30 the deposit+bonus amount, no max cashout, Free Spins apply to the Trigger Happy game only.
                                    </p>
                                </div>
                                <div class="landing-aff__coupon_wrap--mobile">
                                    <div class="landing-aff__coupon_buttons yellow" data-clipboard-text="WILDVEGAS">
                                        <div  class="landing-aff__coupon_buttons_btn">Copy Code:</div>
                                        <p  class="landing-aff__coupon_buttons_code">WILDVEGAS</p>
                                    </div>
                                    <a class="landing-aff__claim-now" href="#" target="_blank"><span>Claim Now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="landing-aff__slider_wrap">
                            <div class="landing-aff__slider_left">
                                <div class="landing-aff__slider_headers">
                                    <p>10</p>
                                    <hr>
                                </div>
                                <div class="landing-aff__slider_main-desc--wrap">
                                    <img src="../images/icons/cg.png" alt="chery-gold" class="landing-aff__slider_logo">
                                    <div class="landing-aff__slider_desc--wrap">
                                        <p>300%</p>
                                        <p>Welcome Bonus</p>
                                    </div>
                                    <div class="landing-aff__coupon_wrap">
                                        <div class="landing-aff__coupon_buttons yellow" data-clipboard-text="HIGHKOALITY">
                                            <div  class="landing-aff__coupon_buttons_btn">Copy Code:</div>
                                            <p class="landing-aff__coupon_buttons_code">HIGHKOALITY</p>
                                        </div>
                                        <a class="landing-aff__claim-now" href="#" target="_blank"><span>Claim Now</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="landing-aff__slider_right">
                                <img src="../images/slider/TU.jpg" alt="">
                                <div class="terms">
                                    <button>Terms and Conditions</button>
                                    <p>T&C: HIGHKOALITY code is valid once for new players on slots and specialty games on the deposit of $25+, playthrough x30 the deposit+bonus amount, no max cashout.
                                    </p>
                                </div>
                                <div class="landing-aff__coupon_wrap--mobile">
                                    <div class="landing-aff__coupon_buttons yellow" data-clipboard-text="HIGHKOALITY">
                                        <div  class="landing-aff__coupon_buttons_btn">Copy Code:</div>
                                        <p class="landing-aff__coupon_buttons_code">HIGHKOALITY</p>
                                    </div>
                                    <a class="landing-aff__claim-now" href="#" target="_blank"><span>Claim Now</span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- Add Pagination -->
        <div class="swiper-button__wrap">
            <div class="swiper-pagination-slider"></div>
            <div class="swiper-button-next landing-aff__slider_btn-next"></div>
            <div class="swiper-button-prev landing-aff__slider_btn-prev"></div>
        </div>
    </div>
</section>


<script src="../js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
<script src="../js/swiper.min.js"></script>
<script src="../js/custom.js"></script>

</body>

</html>